<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        [formControl]="nuevaTarea"
        (keydown.enter)="agregarNuevaTarea()"
      />
    </div>
  </header>
  
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main" *ngIf="tareas.length">
      <ul class="todo-list">
        <li *ngFor="let tarea of tareas; let i = index">
          <app-tarea 
            [tarea]="tarea"
            (updateEstado)="estadoHandler($event)"
            (eliminarTareaEmitter)="eliminarHandler($event)">
          </app-tarea>
        </li>
      </ul>
    </section>

    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer" *ngIf="tareas.length">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count">
        <strong>{{tareas.length}}</strong>
        <span *ngIf="tareas.length !== 1; else elseBlock">
          items left
        </span>
        <ng-template #elseBlock>
          <span>item left</span>
        </ng-template>
      </span>

      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a routerLink="/" class="selected">All</a>
        </li>
        <li>
          <a routerLink="/pending">Pending</a>
        </li>
        <li>
          <a routerLink="/completed">Completed</a>
        </li>
      </ul>

      <!-- Hidden if no completed items are left -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
